@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Cabin, sans-serif;
}
h1, 
h2, 
h3
{
    font-family: Fredoka One, serif;
    line-height: 0.9.em;
}
* {
    box-sizing: border-box;
}
nav {
    background-color: #FA7409;
    color: #fff;
    padding: 5px;
    text-align: end;
}

#logo {
    float: left;
    text-align: center;
    padding: 0px 0px;
    width: 230px;
    height: 43px;
    margin: auto auto;
}
#logo:hover{
    background: #FA7409;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline;
    text-align: center;
}
a {
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    background: #fff;
    display: inline-block;
    width: 100px;
    border: 2px black;
    border-style: solid;
}
a:hover {
    color: #fff;
    background: #FA7409;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.cell {
    background-color: rgb(220, 220, 220);
    height: 100px;
}
.col1 {
    text-align: center;
    grid-column-end: span 12;
    height: 40px;
    line-height: 1.0em;
    background-color: #fff;
}
.col2 {
    line-height: 3.0em;
    grid-column-end: span 6;
    height: 50px;
    font-size: 18px;
    background-color: #fff;    
}
.colc {
    grid-column-end: span 12;
    height: 600px;
}
.centered {
    width: 80%;
    margin: 30px auto;
}
